.root-container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.map-container {
  flex: 1 1 45%;
  height: 100vh;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results-container {
  flex: 1 1 55%;
  padding: 32px;
  padding-bottom: 0;
  background: #fff;
  min-width: 0;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 16px;
  color: var(--mantine-color-primary-8);
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom-right-radius: 16px;
}
