.root-container {
  justify-items: center;
  text-align: center;
  width: 6em;
}

.badge-container {
  justify-items: center;
  text-align: center;
  height: 8em;
  width: 8em;
}

.number {
  font-size: xxx-large;
  color: #545579;
}

.text {
  font-size: medium;
  margin: 0;
}
